.wp-register-title h4 {
    color: #ffffff;
    margin: 10px !important;
    padding: 0 !important;
    text-align: center;
    vertical-align: middle;
}
.modal-body.bw-registarion-fields {
    width: 50%;
}
.container .wpb_text_column.wp-register-instruction *:last-child {
    margin-bottom: 0px !important;
}
#post-76452 .header-wrapper {
    background-color: #ffffff !important;
    color: #3395d0 !important;
    margin-top: 40px !important;
}
#post-76452 .header-wrapper h1 {
    color: #3395d0 !important;
    font-size: 50px !important;
    margin-bottom: 40px !important;
}
.wp-register-title h4 {
    color: #ffffff;
    margin: 10px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}
.container .wpb_text_column.wp-register-instruction *:last-child {
    margin-bottom: 0;
}
.bw-registarion-fields button.bw-registration-trial,
.bw-registarion-fields button.bw-registration-trial:hover,
.bw-registarion-fields button.bw-registration-trial:focus {
    border: 3px solid #1e768b;
}
.bw-registarion-fields button.bw-registration-trial,
.bw-registarion-fields button.bw-registration-trial:hover,
.bw-registarion-fields button.bw-registration-trial:focus {
    background-color: #2ca1be;
    color: #ffffff;
    text-transform: uppercase;
}
.bwp-register-success h4 {
    font-weight: 700;
    margin-bottom: 0;
}
.bwp-register-success i,
.bwp-register-success h4 {
    color: #3c763d;
}
.vc_message_box.bwp-register-success.vc_color-info {
    background: #ffffff none repeat scroll 0 0 !important;
    border: 2px solid #398f14 !important;
    display: none;
}
.bwp-register-error.vc_color-danger.vc_message_box,
.bwp-login-error.vc_color-danger.vc_message_box {
    background-color: #fff;
    border-color: #a85959;
    border-width: 3px;
    color: #a85959;
    display: none;
}
#bwscost {
    display: none;
    float: right;
    margin-top: 8px;
}
.bv-sub-dis.vc_general.vc_btn3 {
    background-color: #53b5e2;
    color: #ffffff;
}
.panel > .bv-sub-dis.panel-heading {
    background-color: #53b5e2;
}
.panel > .bv-sub-dis.panel-heading h3 {
    color: #fff;
}
#plans .panel > .panel-body.text-center {
    background-color: #fff;
    font-size: 30px;
}
.content-area #plans ul.list-group li::before {
    content: none !important;
}
.content-area #plans ul.list-group {
    margin-top: 0px !important;
}
.panel-pricing {
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}
.panel-pricing:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}
.panel-pricing .panel-heading {
    padding: 20px 10px;
}
.panel-pricing .panel-heading .fa {
    margin-top: 10px;
    font-size: 58px;
}
.panel-pricing .list-group-item {
    color: #777777;
    border-bottom: 1px solid rgba(250, 250, 250, 0.5);
}
.panel-pricing .list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.panel-pricing .list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.panel-pricing .panel-body {
    background-color: #f0f0f0;
    font-size: 40px;
    color: #777777;
    padding: 20px;
    margin: 0px;
}
.panel-danger.panel-pricing.pricing-list > .panel-heading,
.panel-danger.panel-pricing.pricing-list .panel-body {
    background-color: #fff;
    border-color: #fff;
}
#plans .col-md-4.text-center {
    padding: 0px !important;
}
ul.pricing-title {
    font-weight: bolder;
}
#plans ul.list-group-item {
    margin: 0px 10px !important;
}
#bwchangeuserpassword i#bwuserchangepassword {
    margin: 0px !important;
}
.modal-body.bw-registarion-fields {
    width: 50%;
    margin: 0px auto;
}
.content-area div#account-info table tr:nth-child(2n) {
    background-color: #e7e7e7;
}
.blackvue-dashboard .vc_tta-tab:not(.vc_active) > a {
    background-color: rgb(51, 149, 208) !important;
}
.bvapi-logout {
    float: right;
}
.bvapi-cloud-accountd .vc_tta-container {
    clear: both !important;
}
.wpspro-modal.modal.modal-wide .modal-dialog {
    width: 100% !important;
}

