@media print{
table.wpspro_print{		
		width:100%;
		border-collapse:separate;
		clear: both;
		margin: 6px 0px!important;
		border:1px solid #f4f4f4;
	}
table.wpspro_print tr:nth-of-type(2n+1) {
		background-color: #f9f9f9;
	}	
}
table.wpspro_print{		
	width:100%;	
	clear: both;
	border:1px solid #f4f4f4;
}
table.wpspro_print tr:nth-of-type(2n+1) {
	background-color: #f9f9f9;
}